
<li class="list-group-item">
	<strong>
		<a data-toggle="collapse" data-parent="#accordian" href="#{{equation.id}}">{{ equation.title }}</a>
	</strong>
</li>


{{!--
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>
		<a data-toggle="collapse" data-parent="#accordian" href="#{{equation.id}}">{{ equation.title }}</a>
		</strong>
	</div>
	<div id="{{equation.id}}" class="panel-collapse collapse">
		<ul class="list-group">
			{{#each equation.attributes as |singleEquation|}}
				<li class="list-group-item">
					<strong>{{singleEquation.title}}</strong>
					<div>{{singleEquation.description}}</div>
					<a {{action 'alertSomething'}}>Alert</a>
				</li>
			{{/each }}
		</ul>
	</div>
</div>
--}}
